html,
body {
  --background: #d5d5d5;
  --background2: rgba(178, 178, 168, 1);
  --highlight2: rgba(231, 170, 44, 1);
  --highlight3: rgba(219, 76, 68, 1);
  --reelBackground: rgba(33, 44, 53, 1);
  --reelBackGlow: rgba(33, 44, 53, 0.6);
  --reelText: rgba(232, 227, 209, 0.75);
  --reelPrimary: rgba(232, 227, 209, 1);

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--reelBackground);
  color: var(--reelText);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav a {
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.content {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
}

.category {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.info {
  padding: 0 1rem 1rem;
  max-width: 600px;
}

.info h3 {
  font-size: 1.5rem;
  margin: 0;
}

.text p {
  padding: 0 1rem;
}

.players {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
}

.videoSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.vidContainer {
  width: 40%;
}

@media screen and (max-width: 1600px) {
  .category {
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (max-width: 1200px) {
  .category {
    grid-template-columns: 1fr;
  }
  .players {
    justify-items: center;
  }
  .info {
    max-width: 100%;
    margin: 0 auto;
  }

  .videoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .vidContainer {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .info {
    padding: 0;
  }
  .text p {
    padding: 0;
    font-size: 0.9rem;
  }
}
