@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 1px var(--reelPrimary), 0 0 5px var(--reelPrimary),
      0 0 9px var(--reelPrimary), 0 0 15px var(--highlight2),
      0 0 30px var(--highlight2), 0 0 45px var(--highlight2),
      0 0 55px var(--highlight2), 0 0 80px var(--highlight2);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes bgflicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    background: rgba(0, 0, 0, 0.5);
  }

  20%,
  24%,
  55% {
    background: rgba(0, 0, 0, 0.7);
  }
}

.navContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  transition: all 0.1s ease-out;
}

.nav {
  margin: 0;
  padding: 0;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  list-style-type: none;
  pointer-events: none;
}

.navItem {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  padding: 1.5rem 0;
  text-transform: uppercase;
  pointer-events: auto;
  opacity: 0.95;
  color: transparent;
  text-shadow: 0px 0px 2px var(--reelPrimary);
}

.navItem:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  z-index: -2;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s allow-discrete;
}

.nav:hover .navItem:hover {
  animation: flicker 0.11s ease-in-out infinite alternate;
}

.nav:hover .navItem:not(:hover) {
  opacity: 0.8;
  color: transparent;
  text-shadow: 0px 0px 5px var(--reelPrimary);
}

.navItem:hover:before {
  z-index: -2;
  opacity: 1;
  animation: bgflicker 0.11s ease-in-out infinite alternate;
}
