.hallucinationEffect {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Point_Reyes_Lighthouse_%28April_2012%29.jpg/593px-Point_Reyes_Lighthouse_%28April_2012%29.jpg);
  background-size: cover;
  background-position: center;
  width: 20vw;
  aspect-ratio: 1/1;
  /* height: auto; */
}

@supports (mix-blend-mode: multiply) {
  .hallucinationEffect {
    position: relative;
    overflow: hidden;
    background-color: magenta;
    background-blend-mode: screen;
    width: 20vw;
    aspect-ratio: 1/1;
  }
  .hallucinationEffect:before,
  .hallucinationEffect:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    mix-blend-mode: multiply;
    width: 20vw;
    aspect-ratio: 1/1;
    transform: scale(1.05);
  }
  .hallucinationEffect:before {
    background-color: cyan;
    background-blend-mode: screen;
    transform-origin: top left;
    width: 20vw;
    aspect-ratio: 1/1;
  }
  .hallucinationEffect:after {
    background-color: yellow;
    background-blend-mode: screen;
    transform-origin: bottom right;
    width: 20vw;
    aspect-ratio: 1/1;
  }
}

.image {
  vertical-align: top;
  margin: 0;
  opacity: 0;
  width: 20vw;
  aspect-ratio: 1/1;
}
