.listen {
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 2rem; */
  padding-right: 4vw;
  padding-top: 3rem;
  text-align: center;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 4rem;
  color: transparent;
  text-shadow: 0px 0px 2px var(--reelText);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

/* .canvasContainer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  height: 50px;
  border-radius: 5px;

  background: rgba(0, 15, 10, 1);
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.canvasContainer span {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 1);
  display: block;
  position: absolute;
  box-shadow: 10px 1px 2px rgb(234, 54, 175 / 0.4),
    -10px -1px 2px rgb(117, 250, 105 / 0, 4);
  top: 50%;
  transform: translateY(-50%);
}

.canvasContainer canvas {
  height: 100%;
} */

.playerControlContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 2rem;
  border-radius: 10px 10px 0 0;
  border: 2px solid var(--reelText);
  border-bottom: none;
  letter-spacing: 0.1rem;
  filter: blur(0.1px);
}

.currentTitle {
  text-align: center;
  font-size: 1.5rem;
  display: block;
  color: transparent;
  text-shadow: 0px 0px 1px var(--reelText);
}

.progressOuter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;

  background: rgba(0, 0, 0, 0);
  border-radius: 20px;
  margin: 1rem 0;
  filter: blur(1px) grayscale(0.5);
  transition: all 0.4s ease-out;
}

.waveformContainer {
  --seek-before-width: 0;

  width: 90%;
  height: 100%;
  max-height: 3rem;

  display: flex;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  opacity: 0.5;
  background: linear-gradient(
    90deg,
    var(--highlight3) var(--seek-before-width),
    var(--reelText) var(--seek-before-width)
  );
  transition: opacity 0.4s ease-in-out;
}

.progressBar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 93%;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
  opacity: 0;
}

.progressBar:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.currentTrackInfo {
  display: flex;
  justify-content: space-between;
}

.currentTrackInfo span {
  text-align: center;
  font-size: 1rem;
  color: transparent;
  text-shadow: 0px 0px 1px var(--reelText);
}

.controls {
  display: flex;
  justify-content: center;
  /* width: 75%; */
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
  background: rgba(100, 100, 100, 0.1);
}

.forwardBack,
.playPause {
  margin: 0 1rem;
  font-size: 2rem;
  color: var(--reelText);
}

.playPause {
  font-size: 3rem;
}

/*TEMP*/

.players {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  border: 2px solid var(--reelText);
  border-top: none;
  padding: 0.5rem 2rem;
  filter: blur(0.2px);
}

.player {
  display: grid;
  grid-template-columns: 1fr 3fr 7fr 1fr;
  letter-spacing: 0.1rem;
  padding: 0.2rem 0;
}

.playTrack {
  place-self: center;
  font-size: 1.5rem;
  color: var(--reeltext);
}

.tracklistTitle {
  text-align: center;
  place-self: center;
  margin: 0;
}

/* .singleWaveform {
  place-self: center;
  height: 50px;
  width: 100%;
  background: var(--reelText);
  opacity: 0.2;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
} */

.canvasContainer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(rgba(224, 189, 36, 0.555), black 100%);
  background: var(--reelBackground);
  overflow: hidden;
  filter: drop-shadow(0 0 1rem rgba(13, 29, 13, 0.7));
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(0px);
}

.canvasContainer span {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 1);
  display: block;
  position: absolute;
  box-shadow: 10px 1px 2px rgb(234, 54, 175 / 0.4),
    -10px -1px 2px rgb(117, 250, 105 / 0, 4);
  top: 50%;
  transform: translateY(-50%);
}

.canvasContainer canvas {
  background: transparent;
  height: 100%;
}

.canvasContainer::before,
.canvasContainer::after {
  content: ' ';
  height: 100%;
  position: absolute;
  top: 0;
  width: 60px;
  z-index: 8;
}
.canvasContainer::before {
  box-shadow: 60px 0 20px -20px inset var(--reelBackground);
  left: -2px;
}
.canvasContainer::after {
  box-shadow: -60px 0 20px -20px inset var(--reelBackground);
  right: -2px;
}

.trackDuration {
  place-self: center;
}

.someBlur {
  filter: blur(4px);
}

.clearBlur {
  filter: blur(0px) grayscale(0);
  background: rgba(0, 0, 0, 0.1);
}

.clearBlur .waveformContainer {
  opacity: 1;
}
