.contactGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
  padding-right: 4vw;
  padding-top: 3rem;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 4rem;
  color: transparent;
  text-shadow: 0px 0px 2px var(--reelText);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: -2rem;
}

.email p,
.links p {
  margin: 0 auto;
  font-size: 1rem;
  line-height: 2rem;
  max-width: 750px;
}

.email h2,
.links h2 {
  font-size: 2rem;
  line-height: 2rem;
  color: transparent;
  text-shadow: 0px 0px 1.5px var(--reelText);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}

.links ul {
  padding: 1rem 0 0;
  list-style-type: none;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  pointer-events: none;
  text-shadow: 0px 0px 2px var(--reelText);
}

.links li {
  transition: all 0.2s ease-in-out;
}

.email a {
  margin-top: 1rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  text-shadow: 0px 0px 2px var(--reelText);
}

.links a,
.email a {
  pointer-events: auto;
  display: inline-block;
}

.links ul:hover li:not(:hover) {
  /* opacity: 0.8; */
  color: transparent;
  text-shadow: 0px 0px 4px var(--reelText);
}
