@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 1px var(--reelPrimary), 0 0 5px var(--reelPrimary),
      0 0 9px var(--reelPrimary), 0 0 15px var(--highlight2),
      0 0 30px var(--highlight2), 0 0 45px var(--highlight2),
      0 0 55px var(--highlight2), 0 0 80px var(--highlight2);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes bgflicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
  20%,
  24%,
  55% {
    background: rgba(0, 0, 0, 0.6);
  }
}

@keyframes dyingflicker {
  0% {
    text-shadow: 0 0 1px var(--reelPrimary), 0 0 5px var(--reelPrimary),
      0 0 9px var(--reelPrimary), 0 0 15px var(--highlight3),
      0 0 30px var(--highlight3), 0 0 45px var(--highlight3),
      0 0 55px var(--highlight2), 0 0 80px var(--highlight2);
  }
  18% {
    text-shadow: 0 0 1px var(--reelPrimary), 0 0 5px var(--reelPrimary),
      0 0 8px var(--reelPrimary), 0 0 14px var(--highlight3),
      0 0 28px var(--highlight3), 0 0 40px var(--highlight3),
      0 0 45px var(--highlight2), 0 0 55px var(--highlight2);
  }
  22% {
    text-shadow: 0 0 1px var(--reelPrimary), 0 0 5px var(--reelPrimary),
      0 0 6px var(--reelText), 0 0 10px var(--highlight3),
      0 0 24px var(--highlight3), 0 0 32px var(--highlight3);
  }
  53% {
    text-shadow: 0 0 1px var(--reelText), 0 0 2px var(--reelText),
      0 0 1px var(--reelText), 0 0 8px var(--highlight3),
      0 0 12px var(--highlight3), 0 0 18px var(--highlight3);
  }
  68% {
    text-shadow: 0 0 1px var(--reelText), 0 0 4px var(--highlight3),
      0 0 8px var(--highlight3), 0 0 10px var(--highlight3),
      0 0 12px var(--highlight3);
  }
  79% {
    text-shadow: 0 0 1px var(--reelText), 0 0 5px var(--highlight3),
      0 0 7px var(--highlight3), 0 0 10px var(--highlight3);
  }
  90% {
    text-shadow: 0 0 1px var(--reelText), 0 0 5px var(--highlight3);
  }
  100% {
    text-shadow: 0px 0px 2px var(--reelText);
  }
}
/* @keyframes cancelBlackout {
  100% {
    -moz-opacity: 0;
    -webkit-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
  }
} */

.navItem {
  margin: 1.5rem 0;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  pointer-events: auto;
}

.navLink {
  padding: 1.5rem 0;
  color: transparent;
  text-shadow: 0px 0px 2px var(--reelText);
}

.navLink:hover {
  animation: flicker 0.11s ease-in-out infinite alternate;
}

.nav:hover .navLink:not(:hover) {
  color: transparent;
  text-shadow: 0px 0px 4px var(--reelText);
}

.burnout {
  animation: dyingflicker 0.5s ease-in;
  pointer-events: none;
}

.blackout:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
